<div class="page-title">
  <div class="title_left">
    <h3> Improperly Tagged Resources </h3>
  </div>
</div>
<div class="clearfix"></div>

<% column = 0 %>
<% columns = 4 %>
<% @review_required.each do |account_id, data| %>
<% if column == 0 %>
<div class="row">
<% end %>
  <div class="col-md-<%= 12/columns %> col-sm-<%= 12/columns %> col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h2><%= AwsAccount.find(account_id).alias %></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% data.sort_by { |_, counter| counter }.reverse.to_h.each do |item, counter| %>
        <% next unless counter > 0 %>
        <div class="widget_summary">
          <% route_info = @data_type_controller_map[item.to_s] %>
          <div class="w_left"  style='width: 75%'>
            <span>
              <%=
                link_to(
                  route_info[:label].to_s.humanize.titleize,
                  { controller: route_info[:controller], action: route_info[:action], account_id: account_id }
                )
              %>
            </span>
          </div>
          <div class="w_right w_25">
              <span>
                <%=
                  link_to(
                    counter,
                    { controller: route_info[:controller], action: route_info[:action], account_id: account_id }
                  )
                %>
              </span>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% column = (column + 1) % columns %>
<% if column == 0 %>
</div>
<% end %>
<% end %>
