<div class="page-title">
  <div class="title_left">
    <h3> Edit Account </h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='x_panel'>
      <div class="x_title">
          <h2>Account: <%= @account.alias %></small></h2>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id='edit_account' class="form-horizontal form-label-left" action='/account/<%= @account.id %>' method='POST'>
          <div class="form-group">
            <label for="alias" class="control-label col-md-3 col-sm-3 col-xs-12">Account Alias</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="alias" value="<%= @account.alias %>">
            </div>
          </div>
          <div class="form-group">
            <label for="access_key" class="control-label col-md-3 col-sm-3 col-xs-12">Access Key</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="access_key" value="<%= @account.access_key %>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Secret Key</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" class="form-control col-md-7 col-xs-12" name="secret_key" value="                   ">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key"  class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="role" value="<%= @account.role %>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Notification Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="email" value="<%= @account.email %>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Account Number</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="identifier" value="<%= @account.identifier %>">
            </div>
          </div>
          <div class="form-group">
            <label for="spending_threshold" class="control-label col-md-3 col-sm-3 col-xs-12">Spending Threshold</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="spending_threshold" value="<%= @account.spending_threshold %>">
            </div>
          </div>
          <div class="form-group">
            <label for="billing_bucket" class="control-label col-md-3 col-sm-3 col-xs-12">Billing Bucket</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="billing_bucket" value="<%= @account.billing_bucket %>">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn btn-primary">Update</button>
                  <input id='submit' type="hidden" name="_method" value="PUT">
                  <button type="submit" class="btn btn-danger" onclick='$("#submit").attr("value", "DELETE");'>Delete</button>
              </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
