<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-8 col-sm-4 col-xs-4">
      <h3> Orhpaned Volumes </h3>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top">
              <i class="fa fa-cloud"></i> Volumes
            </span>
            <div class="count"><%= @data_by_region.values.collect(&:size).sum %> </div>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top">
              <i class="fa fa-usd"></i> Cost per day
            </span>
            <div class="count"><%= @data_by_region.keys.collect{ |r| @cost_by_region[r] }.sum.round(2) %> </div>
        </div>
    </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='x_panel'>
    <% if @data_by_region.keys.empty? %>
      <div class="alert alert-info" role="alert">Congratulations! You have no orhaned volumes.</div>
    <% end %>

    <ul id='regions' class="nav nav-tabs" role="tablist">
      <% @data_by_region.keys.each_with_index do |region, i| %>
        <li region='<%= region %>' role="presentation" class="<%= i == 0 ? "active": "" %>">
          <a href="#<%= region %>" aria-controls="<%= region %>" role="tab" data-toggle="tab"><%= region %> <span class="label label-default"> <%= @data_by_region[region].size %></span> </a>
        </li>
      <% end %>
    </ul>

    <%= render "shared/item_tag_dialog" %>

    <div class="tab-content">
      <% @data_by_region.keys.each_with_index do |region, i| %>
        <div role="tabpanel" class="tab-pane <%= i == 0 ? "active": "" %>" id="<%= region %>">
        <h3>Spending rate in $/day <span class="label label-default"> <%= @cost_by_region[region].round(2) %></span></h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Volume Id</th>
                <th>State</th>
                <th>Create Time</th>
                <th>Type</th>
                <th>Size</th>
                <th>IOPS</th>
                <th>$/day</th>
                <th>Tags</th>
              </tr>
            </thead>
            <% @data_by_region[region].each do |volume| %>
              <tr>
                <td><%= render "shared/item_menu" %></td>
                <td>
                  <%= render partial: "shared/item_checkbox", locals: { aws_object_id: volume["volume_id"] } %>
                </td>
                <td>
                  <a href='https://console.aws.amazon.com/ec2/v2/home?region=<%= region %>#Volumes:search=<%= volume["volume_id"] %>'>
                    <%= volume["volume_id"] %>
                  </a> </td>
                <td> <%= volume["state"] %> </td>
                <td> <%= Time.parse(volume["create_time"]).strftime("%F") %> </td>
                <td> <%= volume["volume_type"] %> </td>
                <td> <%= volume["size"] %> </td>
                <td> <%= volume["iops"] %> </td>
                <td> <%= volume["daily_cost"] %> </td>
                <td>
                  <% volume["tags"].to_a.each do |t| %>
                    <% tag_value = t["value"].size < 50 ? t["value"] : "#{t["value"][0...50]}..." %>
                    <%= "#{t["key"]}: #{tag_value}" %>
                    <br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
