<ol class="breadcrumb">
  <li><a href="#">EC2</a></li>
  <li><a href="#">Orphaned Instances</a></li>
</ol>

<div style='padding: 5px'>
  <div>
    <% if @abandoned_instances.keys.empty? %>
      <div class="alert alert-info" role="alert">Congratulations! You have no orhaned instances.</div>
    <% end %>

    <ul id='regions' class="nav nav-tabs" role="tablist">
      <% @abandoned_instances.keys.each_with_index do |region, i| %>
        <li region='<%= region %>' role="presentation" class="<%= i == 0 ? "active": "" %>">
          <a href="#<%= region %>" aria-controls="<%= region %>" role="tab" data-toggle="tab"><%= region %> <span class="label label-default"> <%= @abandoned_instances[region].size %></span> </a>
        </li>
      <% end %>
    </ul>

    <%= render "shared/item_tag_dialog" %>

    <div class="tab-content">
      <% @abandoned_instances.keys.each_with_index do |region, i| %>
        <div role="tabpanel" class="tab-pane <%= i == 0 ? "active": "" %>" id="<%= region %>">
          <h3>Spending rate in $/day <span class="label label-default"> <%= @spending_rate_by_region[region].round(2) %></span></h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Instance Id</th>
                <th>Instance Type</th>
                <th>Launch Time</th>
                <th>$/day</th>
                <th>Tags</th>
              </tr>
            </thead>
            <% @abandoned_instances[region].each do |instances| %>
              <tr>
                <td><%= render "shared/item_menu" %></td>
                <td>
                  <%= render partial: "shared/item_checkbox", locals: { aws_object_id: instances["instance_id"] } %>
                </td>
                <td>
                  <a href='https://console.aws.amazon.com/ec2/v2/home?region=<%= region %>#Instances:search=<%= instances["instance_id"] %>'>
                    <%= instances["instance_id"] %>
                  </a> </td>
                <td> <%= instances["instance_type"] %> </td>
                <td> <%= Time.parse(instances["launch_time"]).strftime("%F") %> </td>
                <td> <%= instances["daily_cost"].to_f.round(2) %> </td>
                <td>
                  <% instances["tags"].to_a.each do |t| %>
                    <% tag_value = t["value"].size < 50 ? t["value"] : "#{t["value"][0...50]}..." %>
                    <%= "#{t["key"]}: #{tag_value}" %>
                    <br>
                  <% end %>
                </td>
                <!--<td> <%= instances.to_json %> </td>-->
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
