<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-8 col-sm-4 col-xs-4">
      <h3> Tag Violations: <%= page_label %> </h3>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top">
              <i class="fa fa-cloud"></i> <%= page_label %>
            </span>
            <div class="count"><%= @data_by_region.values.collect(&:size).sum %> </div>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top">
              <i class="fa fa-usd"></i> Cost per day
            </span>
            <div class="count"><%= @data_by_region.keys.collect{ |r| @cost_by_region[r] }.sum.round(2) %> </div>
        </div>
    </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='x_panel'>
    <% if @data_by_region.keys.empty? %>
      <div class="alert alert-info" role="alert">Congratulations! All your <%= page_label %> are tagged correctly. </div>
    <% end %>

    <ul id='regions' class="nav nav-tabs" role="tablist">
      <% @data_by_region.keys.each_with_index do |region, i| %>
        <li region='<%= region %>' role="presentation" class="<%= i == 0 ? "active": "" %>">
          <a href="#<%= region %>" aria-controls="<%= region %>" role="tab" data-toggle="tab"><%= region %> <span class="label label-default"> <%= @data_by_region[region].size %></span> </a>
        </li>
      <% end %>
    </ul>

    <%= render "shared/item_tag_dialog" %>

    <div class="tab-content">
      <% @data_by_region.keys.each_with_index do |region, i| %>
        <div role="tabpanel" class="tab-pane <%= i == 0 ? "active": "" %>" id="<%= region %>">
        <h3>Spending rate in $/day <span class="label label-default"> <%= @cost_by_region[region].round(2) %></span></h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th><input class='select-all' type="checkbox"></th>
                <th>Snapshot Id</th>
                <th>Create Time</th>
                <th>Size</th>
                <th>$/day</th>
                <th>Tags</th>
              </tr>
            </thead>
            <% @data_by_region[region].each do |snapshot| %>
              <tr>
                <td><%= render "shared/item_menu" %></td>
                <td>
                  <%= render partial: "shared/item_checkbox", locals: { aws_object_id: snapshot["volume_id"] } %>
                </td>
                <td>
                  <a href='<%= ec2_snapshot_link(region, snapshot["snapshot_id"]) %>'> <%= snapshot["snapshot_id"] %> </a>
                </td>
                <td> <%= Time.parse(snapshot["create_time"]).strftime("%F") %> </td>
                <td> <%= snapshot["volume_size"] %> </td>
                <td> <%= snapshot["daily_cost"] %> </td>
                <td>
                    <%= render partial: 'janitor/tags', locals: { tags: snapshot["tags"] } %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
